<h1 class="home_heading"> Stealth Ward </h1>
<p class="home_description"> An extremely powerful ward that lets you see any summoner's secrets.</p>

<form class= "api_form" action = "/search" method = "POST">
  <input class= "search_input" type="text" name="summonerName" placeholder="Stalk a Summoner here!">
  <p><button class="search_button" type="submit" name="button" >Search</button></p>
</form>
