<h1 class="home_heading"> LOLward </h1>
<!-- <p class="home_description"> Did you know wards allow you to see a summoner's secrets too?</p> -->

<form class="api_form" action = "/search" method = "POST">
  <input class= "search_input" type="text" name="summonerName" placeholder="Enter a Summoner name!">

  <button class="search_button" type="submit" name="button" ><%=icon('search', class: 'searchicon')%></button>
</form>
