<div id="masteries">

<h1 id="masteries_heading"><b> Masteries </b></h1>

<% @masteries["#{params[:summonerID]}"]["pages"].each do |masteries| %>
    <p class="masteries_category"><b><%= masteries["name"] %> </b></p>

    <% if masteries["current"] == true %>
      <p class="masteries_details"> Current: Yes </p>
    <% else %>
      <p class="masteries_details"> Current: No
    <% end %>

    <% i = 0 %>
    <% while i < 10 %>
      <p class="masteries_name">Mastery: <%= masteries["masteries"][i]["id"] %>&nbsp&nbsp&nbsp Rank: <%= masteries["masteries"][i]["rank"] %></p>
      <% i += 1 %>
    <%end%>

<%end%>

</div>
