<div id="queue">

<h1 id="queuesummary"><b> Queue Summary </b></h1>

<% @queue["playerStatSummaries"].each do |queue| %>
    <p class="queuetype"> <%= queue["playerStatSummaryType"] %> </p>
    <p class="queuewins"> Wins: <%= queue["wins"] %> </p>
<%end%>

</div>
