<div id="runes">

<h1 id="runes_heading"><b> Runes </b></h1>
<!-- <p><%= @runes.inspect %><p> -->

<% @runes["#{params[:summonerID]}"]["pages"].each do |runes| %>
    <p class="runes_category"><b><%= runes["name"] %> </b></p>

    <% if runes["current"] == true %>
      <p class="runes_current"> Current: Yes </p>
    <% else %>
      <p class="runes_current"> Current: No
    <% end %>

    <% i = 0 %>
    <% while i < 30 %>
      <p>Slot <%= runes["slots"][i]["runeSlotId"] %>: <%= runes["slots"][i]["runeId"] %></p>
      <% i += 1 %>
    <%end%>

<%end%>

</div>
