<div id="about">

<h1 id="aboutheading"> About Us </h1>

<p class="about_text"> LOLward aims to provide Oceania users with easy access to basic player statistics, with a focus on text for utmost simplicity. </p> <br/><br>
<p class="about_text"> While it lets you check your summoner's details, you may also like to make new friends via our community page. It contains a member's favourite champion, their favourite position, and favourite game mode, given that they have filled it in during registration. This is to allow players to be able to find other players with similar playstyles, common interests and ideas, someone who fits well into their team, or for any other needs. </p><br/><br/>

<p class="about_text">Therefore, don't forget to fill in all the fields when you register so that other players can see your details too! Otherwise, you can always go back to your profile page and edit it. Happy warding! </p>

<img class="syndra" src="http://s33.postimg.org/kvhh08rzz/syndra_gif_league_of_legends_fanart_by_georged.png" alt="">
<img class="syndra2" src="http://s33.postimg.org/kvhh08rzz/syndra_gif_league_of_legends_fanart_by_georged.png" alt="">



</div>
