/*----------LAYOUT----------*/
html, body {
  padding: 0;
  margin: 0;
}
ul {
  display: block;
  text-align: right;
  margin: 8px;
}
li {
  display: inline-block;
  /*padding: 5px;*/
}
a.welcome_user {
  /*padding: 8px;*/
  color: rgb(40, 129, 161);
  font-family: 'Merriweather', serif;
  font-size: 15px;
  text-decoration: none;
}
a.welcome_user:hover {
  color: rgb(62, 154, 121);
}
.nav_text {
  text-decoration: none;
  padding: 8px;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: bold;
  transition: all .1s ease-in-out;
}
.nav_text:hover {
  color: rgb(62, 154, 121);
}
.nav {
  background: black;
  border-top: 1px solid black;
  border-bottom: 5px solid rgba(6, 63, 161, 0.63);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
// #logo {
//   color: white;
//   position: absolute;
//   left: 10px;
// }
html {
  background: url("http://s33.postimg.org/5lurmxenz/lolashe2.jpg") no-repeat center center fixed;
  background-size: cover;
}

/*---------HOME PAGE---------*/
.home_heading {
  display: block;
  text-align: center;
  position: relative;
  top: 280px;
  margin: 0;
  font: 90px 'Lobster';
  /*font-weight: bold;*/
  color: #73cbde;
  transition: all .2s ease-in-out;
  /*text-shadow: 3px 0 10px #73cbde, 0 -3px 10px #73cbde, 0 3px 10px #73cbde, -3px 0 10px #73cbde;*/
  /*text-shadow: 3px 0 0 rgb(40, 78, 215), 0 -3px 0 rgb(40, 78, 215), 0 3px 0 rgb(40, 78, 215), -3px 0 0 rgb(40, 78, 215);*/
  text-shadow: 5px 5px 20px #73cbde;
  /*text-shadow: 0 0 20px rgba(40, 78, 215, 0.85);*/
}
.home_heading:hover {
  /*text-shadow: 0 0 20px rgba(40, 78, 215, 0.85);*/
}
/*.home_description {
  position: relative;
  top: 190px;
  display: block;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}*/
.search_input {
  // position: relative;
  // top: 330px;
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
  width: 30%;
  box-shadow: 0 0 10px #73cbde;
  text-shadow: 0 0 20px rgb(127, 135, 213);
  font-size: 15px;
  text-align: center;
  border: 0;
  color: black;
  font-weight: bold;
  /*background: rgba(182, 236, 240, 0.41)*/
}
.search_button {
  position: relative;
  top: 0px;
  right: 50px;
  display: inline-block;
  margin: 0 auto;
  padding: 7px 20px 7px 20px;
  color: black;
  background: rgba(0, 0, 0, 0);
  // border-radius: 100%;
  font-size: 14px;
  border: 0;
}
.api_form {
  margin-top: 330px;
  display: block;
  text-align: center;
  margin-left: 60px;
  margin-bottom: 300px;
}
.search_button:hover {
  /*box-shadow: 3px 0 20px #73cbde, 0 -3px 20px #73cbde, 0 3px 20px #73cbde, -3px 0 20px #73cbde;*/
  /*box-shadow: 0 0 20px #367b8a;*/
  color: #73cbde;
}
.search_button:active {
  border: 0;
}
#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://s33.postimg.org/b7dtoh4tb/snow1.png'), url('http://s33.postimg.org/mvh2ai8pr/snow2.png'), url('http://s33.postimg.org/yxzf1d0v3/snow3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

/*----------SIGN UP PAGE----------*/
#signupform {
  display: block;
  text-align: center;
  font-weight: bold;
  background: url("http://s33.postimg.org/4ai4fb44f/howlingabyss3.jpg") no-repeat center center fixed;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(114, 120, 156);
  margin: 0 10% 2% 10%;
  position: relative;
  top: 30px;
}
.signup-title{
  margin: 0;
  position: relative;
  top: 30px;
  font-family: 'Merriweather', serif;
  color: black;
}
.signup-title-fav{
  margin: 0;
  position: relative;
  top: 30px;
  font-family: 'Merriweather', serif;
  color: black;
}
.p-signup-field {
  margin: 0 auto;
  position: relative;
  top: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.signupfield {
  display: block;
  margin: 0 auto;
  padding: 5px;
  width: 26%;
  box-shadow: 0 0 10px #73cbde;
  text-shadow: 0 0 20px rgb(127, 135, 213);
  font-size: 15px;
  text-align: center;
  border: 0;
  color: white;
  border-radius: 5px;
  background: rgba(1, 1, 1, 0.5);
}
#signupheading {
 font-family: 'Kaushan Script', cursive;
 // font-family: 'Allan', Helvetica, Arial, sans-serif;
 // font-family: 'Permanent Marker', cursive;
 // font-family: 'Rock Salt', cursive;
 // font-family: 'Courgette', cursive;
 font-size: 50px;
 line-height: 70px;
 position: relative;
 top: 37px;
 text-shadow: 0 0 20px #73cbde;
 color: rgb(22, 63, 83);

 /*text-shadow: 0 0 20px #73cbde;*/
}
.signup_button{
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 6px 15px 6px 15px;
  color: white;
  background: rgba(0, 0, 0, 1);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  font-family: 'Raleway', serif;
}
.signup_button:hover{
  color: #73cbde;
}
/*.cancel_signup_button {
  margin: 10px 0 20px 0;
  padding: 4px 15px 4px 15px;
  color: white;
  background: rgba(0, 0, 0, 1);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
}
.cancel_signup_button:hover{
  color: #73cbde;
}*/

/*----------LOGIN PAGE----------*/

#login_form {
  display: block;
  text-align: center;
  font-weight: bold;
  background: url("http://s33.postimg.org/i15bzczhb/Summoners_Rift3.jpg") no-repeat center center fixed;
  /*background: url("http://s33.postimg.org/42q3345un/Summoners_Rift2.jpg")*/
  border-radius: 20px;
  /*box-shadow: 10px 10px 10px rgb(114, 120, 156);*/
  margin: 0 20% 2% 20%;
  position: relative;
  top: 200px;
  border: 5px solid rgb(93, 93, 93);
}
#login_heading {
  font-family: 'Montelo', Helvetica, Arial, sans-serif;
  font-size: 60px;
  line-height: 70px;
  position: relative;
  top: 37px;
  text-shadow: 0 0 20px #73cbde;
  color: rgb(18, 65, 68);
}
.login_title{
  margin: 0;
  /*position: relative;*/
  /*top: 30px;*/
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 20px;
}
.login_field {
  display: block;
  margin: 10px auto 30px auto;
  padding: 5px;
  width: 35%;
  box-shadow: 0 0 10px #73cbde;
  text-shadow: 0 0 20px rgb(127, 135, 213);
  font-size: 15px;
  text-align: center;
  border: 0;
  color: white;
  border-radius: 5px;
  background: rgba(1, 1, 1, 0.5);
  /*position: relative;*/
  /*top: 30px;*/
}
.login_input {
  position: relative;
  top: 30px;
  height: 300px;
}
.login_button{
  position: relative;
  bottom: 40px;
  margin: 50px;
  padding: 6px 15px 6px 15px;
  color: white;
  background: rgba(0, 0, 0, 1);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  font-family: 'Merriweather', serif;
}
.login_button:hover{
  color: #73cbde;
}

/*----------COMMUNITY----------*/
#summonerlist{
  display: block;
  text-align: center;
  font-weight: bold;
  background: url("http://s33.postimg.org/4ai4fb44f/howlingabyss3.jpg") no-repeat center center fixed;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(114, 120, 156);
  margin: 0 10% 2% 10%;
  position: relative;
  top: 30px;
}
#summonerlistheading {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  line-height: 70px;
  position: relative;
  top: 37px;
  text-shadow: 0 0 20px #73cbde;
  color: rgb(22, 63, 83);
}
.summonerdetails {
  text-decoration: none;
  color: black;
  font-family: 'merriweather', serif;
}
.summonerdetails:visited {
  text-decoration: none;
  color: black;
}
.summonerdetails:hover {
  text-decoration: none;
  color: lightblue;
}
.listdescription {
  font-family: 'Merriweather', serif;
  margin: 50px 0 20px 0;
  // text-shadow: 0 0 20px #73cbde;
}
#poster {
  margin: 0 15px 30px 15px;
  padding: 5px;
  width: 20%;
  box-shadow: 0 0 10px #73cbde;
  text-shadow: 0 0 20px rgb(127, 135, 213);
  font-size: 15px;
  text-align: center;
  border: 0;
  color: white;
  border-radius: 5px;
  background: rgba(1, 1, 1, 0.5);
}
#btn, #btn-showall {
  margin-bottom: 30px;
  padding: 4px 15px 4px 15px;
  color: white;
  background: rgba(0, 0, 0, 1);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  font-family: 'Raleway', serif;
}
#btn:hover, #btn-showall:hover {
  color: #73cbde;
}
.home_button {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 4px 15px 4px 15px;
  color: white;
  background: rgba(0, 0, 0, 1);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  font-family: 'Raleway', serif;
}
.home_button:hover {
  color: #73cbde;
}

/*----------SUMMONER DETAILS----------*/
#summonerdetail {
  display: block;
  text-align: center;
  font-weight: bold;
  background: url("http://s33.postimg.org/5qoa3dxgf/bilgewater2.jpg") no-repeat center center fixed;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(114, 120, 156);
  margin: 0 30% 2% 30%;
  min-width: 200px;
  position: relative;
  top: 60px;
  border: 8px outset rgb(71, 70, 69);
}
.summonerdetailheading {
  color: black;
  font-family: 'Corben', serif;
}
.summonerdetails_label{
  color: rgb(42, 42, 42);
  margin: 0;
  font-size: 25px;
  font-family: 'Sansita one', serif;
}
.summonerdetails_answer {
  margin: 5px 0 10px 0;
  color: rgb(41, 59, 93);
  font-size: 25px;
  font-family: 'Raleway', serif;
}
.stalkhere {
  margin: 0;
  padding: 5px;
  width: 30%;
  box-shadow: 0 0 10px #e4ad33;
  text-shadow: 0 0 20px rgb(127, 135, 213);
  font-size: 13px;
  text-align: center;
  border: 0;
  color: black;
  font-weight: bold;
}
.stalkheresubmit {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding: 4px 15px 4px 15px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  font-family: 'raleway', serif;
}
.stalkheresubmit:hover {
  color: rgb(233, 207, 68);
}
.back_to_list {
  padding: 4px 20px 4px 20px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  display: block;
  margin: 0 auto 30px auto;
  position: relative;
  top: 60px;
  font-family: 'Raleway', serif;
}
.back_to_list:hover {
  color: #73cbde;
}
.edit_profile{
  padding: 4px 15px 4px 15px;
  color: black;
  background: rgba(0, 0, 0, 0);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.delete_profile {
  padding: 4px 15px 4px 15px;
  color: black;
  background: rgba(0, 0, 0, 0);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  position: absolute;
  bottom: 10px;
  right: 13px;
}
.message_profile {
  padding: 4px 15px 4px 15px;
  color: black;
  background: rgba(0, 0, 0, 0);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  position: absolute;
  top: 10px;
  right: 7px;
}
.delete_profile:hover, .edit_profile:hover, .message_profile:hover {
  color: rgb(233, 207, 68);
}

/*----------EDIT PAGE-----------*/
#edit_details {
  display: block;
  text-align: center;
  font-weight: bold;
  background: url("http://s33.postimg.org/4ai4fb44f/howlingabyss3.jpg") no-repeat center center fixed;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(114, 120, 156);
  margin: 0 10% 2% 10%;
  position: relative;
  top: 30px;
}
.edit_label {
  margin: 0;
  font-family: 'Merriweather', serif;
  color: black;
  position: relative;
  top: 30px;
}
.edit_answer {
  display: block;
  margin: 0 auto;
  padding: 5px;
  width: 26%;
  box-shadow: 0 0 10px #73cbde;
  text-shadow: 0 0 20px rgb(127, 135, 213);
  font-size: 15px;
  text-align: center;
  border: 0;
  color: white;
  border-radius: 5px;
  background: rgba(1, 1, 1, 0.5);
  position: relative;
  top: 30px;
}
#edit_heading {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  line-height: 70px;
  position: relative;
  top: 37px;
  text-shadow: 0 0 20px #73cbde;
  color: rgb(22, 63, 83);
}
.edit_button {
  margin-top: 50px;
  margin-bottom: 5px;
  padding: 4px 15px 4px 15px;
  color: white;
  background: rgba(0, 0, 0, 1);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  width: 90px;
  font-family: 'raleway', serif;
}
.cancel_edit {
  margin-top: 1px;
  margin-bottom: 30px;
  padding: 4px 15px 4px 15px;
  color: white;
  background: rgba(0, 0, 0, 1);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  width: 90px;
  font-family: 'raleway', serif;
}
.edit_button:hover, .cancel_edit:hover {
  color: #73cbde;
}


/*----------SUMMONER STATS----------*/
#playerstats {
  display: block;
  text-align: center;
  font-weight: bold;
  background: url("http://s33.postimg.org/b129uaelr/SRBackground.png") no-repeat center center fixed;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(114, 120, 156);
  margin: 0 30% 2% 30%;
  min-width: 200px;
  position: relative;
  top: 280px;
  border: 8px outset rgb(71, 70, 69);
}
.statslink{
  text-decoration: none;
  font-family: 'Merriweather', serif;
  color: black;
}
.statslink:visited {
  color: black;
}
.statslink:hover {
  color: rgb(145, 42, 54);
}
.level {
  font-family: 'Merriweather', serif;
  color: rgb(19, 89, 89);
  font-size: 20px;
  // text-shadow: 0 0 20px rgb(226, 159, 60);
}
#summoner_name {
  // font-family: 'Corben', serif;
  font-size: 30  px;
}

/*---------TOTAL WINS---------*/
#queue{
  display: block;
  text-align: center;
  font-weight: bold;
  background: url("http://s33.postimg.org/6mejg2tj3/maxresdefault3.jpg") no-repeat center center fixed;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(114, 120, 156);
  margin: 0 10% 2% 10%;
  position: relative;
  top: 25px;
  padding-bottom: 20px;
  min-height: 850px;
}
#queuesummary{
  font-family: 'Merriweather', serif;
  font-size: 50px;
  line-height: 70px;
  position: relative;
  top: 37px;
}
.queuetype{
  font-size: 20px;
  font-family: 'Sansita one', serif;
  color: rgb(117, 22, 22);
  position: relative;
  margin: 2px 0 0 0;
  top: 15px;
}
.queuewins {
  position: relative;
  top: 15px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/*---------LEAGUE----------*/
#league {
  display: block;
  text-align: center;
  font-weight: bold;
  background: url("http://s33.postimg.org/6mejg2tj3/maxresdefault3.jpg") no-repeat center center fixed;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(114, 120, 156);
  margin: 0 15% 2% 15%;
  position: relative;
  top: 225px;
  padding-bottom: 20px;
  background-size: cover;
}
#leagueheading{
  font-family: 'Merriweather', serif;
  font-size: 50px;
  line-height: 70px;
  position: relative;
  top: 37px;
}
.tier{
  font-size: 25px;
  font-family: 'Sansita one', serif;
  color: rgb(117, 22, 22);
  position: relative;
  top: 15px;
  text-shadow: 0 0 20px rgb(201, 213, 127);

}
.leaguedetails {
  position: relative;
  top: 15px;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding-bottom: 20px;
}

/*----------MASTERIES----------*/
#masteries{
  display: block;
  text-align: center;
  font-weight: bold;
  background: url("http://s33.postimg.org/6mejg2tj3/maxresdefault3.jpg") no-repeat center center fixed;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(114, 120, 156);
  margin: 0 10% 2% 10%;
  position: relative;
  top: 25px;
  padding-bottom: 20px;
  background-size: cover;
}
#masteries_heading {
  font-family: 'Merriweather', serif;
  font-size: 50px;
  line-height: 70px;
  position: relative;
  top: 37px;
}
.masteries_category{
  font-size: 30px;
  font-family: 'Sansita one', serif;
  color: rgb(117, 22, 22);
  position: relative;
  margin: 5px 0 0 0;
  top: 15px;
}
.masteries_details{
  position: relative;
  top: 15px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: rgb(85, 17, 17);
}
.masteries_body {
  display: inline-block;
}
.masteries_name {
  color: rgb(9, 53, 71);
  margin: 10px;
  text-align:  center;
  font-size: 21px;
  padding-top: 10px;
}
.masteries_description {
  margin: 0 0 20px 0;
  max-width: 500px;
  font-size: 12px;
}


/*----------RUNES----------*/
#runes{
  display: block;
  text-align: center;
  font-weight: bold;
  background: url("http://s33.postimg.org/6mejg2tj3/maxresdefault3.jpg") no-repeat center center fixed;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(114, 120, 156);
  margin: 0 10% 2% 10%;
  position: relative;
  top: 25px;
  padding-bottom: 20px;
  min-height: 700px;
  background-size: cover;
}
#runes_heading {
  font-family: 'Merriweather', serif;
  font-size: 50px;
  line-height: 70px;
  position: relative;
  top: 37px;
}
.runes_category{
  font-size: 30px;
  font-family: 'Sansita one', serif;
  color: rgb(117, 22, 22);
  position: relative;
  margin: 2px 0 0 0;
  top: 15px;
  padding: 10px;
}
.runes_details{
  position: relative;
  top: 15px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: rgb(85, 17, 17);
}
.rune_slot{
  font-size: 20px;
  color: rgb(9, 53, 71);
  margin: 0;
  text-align: left;
}
.slot {
  color: rgb(99, 20, 20);
}
.slot_description {
  font-size: 16px;
  color: black;
}
.runes_body {
  display: inline-block;
  // position: relative;
  // left: 40px;
}

/*----------RECENT MATCHES----------*/
#recent_matches {
  display: block;
  text-align: center;
  font-weight: bold;
  background: url("http://s33.postimg.org/6mejg2tj3/maxresdefault3.jpg") no-repeat center center fixed;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(114, 120, 156);
  margin: 0 10% 2% 10%;
  position: relative;
  top: 25px;
  padding-bottom: 20px;
  background-size: cover;
}
#recent_matches_heading{
  font-family: 'Merriweather', serif;
  font-size: 50px;
  line-height: 70px;
  position: relative;
  top: 37px;
}
.match_stats {
  font-size: 25px;
  font-family: 'Sansita one', serif;
  color: rgb(117, 22, 22);
  position: relative;
  margin: 0;
  top: 15px;
  margin-bottom: 40px;
}
.substats {
  display: inline-block;
  margin: 0 30% 0 30%;
  text-align: left;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}
.statdetails{
  margin: 0;
}
.statdetails2{
  margin: 0;
  color: rgb(14, 29, 69);
}

/*----------ABOUT US----------*/
#about {
  display: block;
  text-align: center;
  font-weight: bold;
  background: url("http://s33.postimg.org/4ai4fb44f/howlingabyss3.jpg") no-repeat center center fixed;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(114, 120, 156);
  margin: 0 10% 2% 10%;
  position: relative;
  top: 25px;
  padding-bottom: 20px;
  min-height: 700px;
}
#aboutheading {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  line-height: 70px;
  position: relative;
  top: 60px;
  text-shadow: 0 0 20px #73cbde;
  color: rgb(22, 63, 83);
}
.about_text{
  position: relative;
  top: 130px;
  font-family: 'Merriweather', serif;
  color: black;
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
  font-size: 17px;
  text-align: justify;
}
.syndra {
  position: absolute;
  top: 20px;
  right: 330px;
}
.syndra2 {
  position: absolute;
  top: 20px;
  left: 330px;
}
/*----------CONVERSATION LIST----------*/
#conversations{
  display: block;
  text-align: center;
  font-weight: bold;
  background: url("http://s33.postimg.org/4ai4fb44f/howlingabyss3.jpg") no-repeat center center fixed;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(114, 120, 156);
  margin: 0 10% 2% 10%;
  position: relative;
  top: 25px;
  padding-bottom: 20px;
  min-height: 700px;
}
.conversations_heading {
  font-family: 'Kaushan Script', cursive;
  font-size: 70px;
  line-height: 70px;
  position: relative;
  top: 37px;
  text-shadow: 0 0 20px #73cbde;
  color: rgb(22, 63, 83);
  margin-bottom: 60px;
}
// .conversations_body {
//   background: white;
//   position: relative;
//   top: 30px;
// }
.buddy_name {
  text-decoration: none;
  color: black;
  font-family: 'merriweather', serif;
  font-size: 20px;
}
.buddy_name:hover {
  color: #73cbde;
}
.back_to_chats {
  padding: 4px 20px 4px 20px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  display: block;
  margin: 0 auto 30px auto;
  position: relative;
  bottom: -30px;
  font-family: 'Raleway', serif;
}
.back_to_chats:hover {
  color: #73cbde;
}

/*---------MESSAGES----------*/
.messages_body {
  display: block;
  text-align: center;
  font-weight: bold;
  background: url("http://s33.postimg.org/4ai4fb44f/howlingabyss3.jpg") no-repeat center center fixed;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(114, 120, 156);
  margin: 0 10% 2% 10%;
  position: relative;
  top: 25px;
  padding-bottom: 20px;
  min-height: 700px;
}
.messages_header {
  font-family: 'Montelo', Helvetica, Arial, sans-serif;
  font-size: 60px;
  line-height: 70px;
  position: relative;
  top: 37px;
  // text-shadow: 0 0 20px #73cbde;
  // color: rgb(18, 65, 68);
}
.message_subbody {
  margin: 7% 20% 0 20%;
  border: 2px solid rgb(59, 59, 59);
  box-shadow: 0 0 10px #73cbde;
  text-shadow: 0 0 20px rgb(127, 135, 213);
  font-size: 15px;
  text-align: center;
  border: 0;
  color: white;
  border-radius: 5px;
  background: rgba(1, 1, 1, 0.5);
  padding: 10px;
  min-height: 300px;
  margin-bottom: 10px;
}
.form-control {
  margin: 0 20% 0 20%;
  background: rgba(255, 252, 250, 0.6);
  width: 59%;
  text-align: center;
  border-radius: 6px;
  border: 0;
  // box-shadow: 0 0 10px #73cbde;
  text-shadow: 0 0 20px rgb(127, 135, 213);
}
::-webkit-input-placeholder {
  // color: rgba(0,0,0,0.4);
}
.submit_chat {
  padding: 6px 20px 6px 20px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  display: block;
  margin: 0 auto 30px auto;
  position: relative;
  font-family: 'Raleway', serif;
  // box-shadow: 0 0 10px #73cbde;
}
.delete_convo {
  padding: 4px 15px 4px 15px;
  color: black;
  background: rgba(0, 0, 0, 0);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  position: absolute;
  top: 10px;
  right: 13px;
}
.back_to_conversations {
  padding: 6px 20px 6px 20px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  font-size: 14px;
  border: 0;
  display: block;
  margin: 0 auto 30px auto;
  position: relative;
  bottom: -20px;
  font-family: 'Raleway', serif;
}
.submit_chat:hover, .delete_convo:hover, .back_to_conversations:hover {
  color: #73cbde;
}
/*----------NAV LEFT----------*/
.nav-left {
  position: absolute;
  left: -5px;
  top: -2px;
  background-color: rgba(10, 46, 107, 0.56);
  padding: 8px;
  padding-right: 20px;
  border-top-right-radius: 13px;
  // border-bottom-right-radius: 13px;
  // border-radius: 10px;
  // padding: 12px;
  // border-bottom: 5px solid rgba(6, 63, 161, 0.63);
}
.nav_text2 {
  text-align: left;
  padding: 10px 5px 10px 15px;
  color: rgba(103, 171, 235, 1);
  color: lightgrey;
  font-family: 'Play', serif;
  font-size: 18px;
  text-decoration: none;
  // background: orange;
  // width: 100%;
}
.nav_text2:hover {
  color: rgb(40, 129, 161);
}

/*--------Pagination--------*/
.pagination {
  color: rgb(14, 17, 65);
  font-size: 20px;
  font-family: 'merriweather', serif;
}
.pagination > a {
  text-decoration: none;
  color: rgb(14, 17, 65);
}
.pagination > a:hover{
  color: #73cbde;
}

/*----------DISQUS---------*/
// #disqus_thread {
//   width: 800px;
//   background: #fff;
//   margin: 0 auto;
//   border-radius: 20px;
//   padding: 20px;
//   position: relative;
//   top: 100px;
//   min-height: 250px;
// }
