<div id="summonerlist">

  <h1 id="summonerlistheading"> Home of LOLward </h1>
  <p class="listdescription">....the holy place to make new allies.</p>

  <input id='poster' type="text" placeholder="Search by Member's name">
  <button id='btn'>Search</button>
  <button id='btn-showall'>Show All</button>

  <div id='posts'>
  <% Account.all.each do |account| %>
    <p class="<%=account.name%>"><%= link_to account.name, account, class: 'summonerdetails' %> </p>
  <%end%>
  </div>

  <%= button_to 'Home', root_path, class: 'home_button', method: :get %>

</div>
